################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/UserInterfaceLayer/.vs/Ascon/v16/.suo
/UserInterfaceLayer/.vs/Ascon/v17/.suo
/UserInterfaceLayer/.vs/Ascon/project-colors.json
/UserInterfaceLayer/obj/Debug/UserInterfaceLayer.csproj.FileListAbsolute.txt
/UserInterfaceLayer/obj/Debug/UserInterfaceLayer.csproj.AssemblyReference.cache
/UserInterfaceLayer/obj/Debug/TempPE/Properties.Resources.Designer.cs.dll
/UserInterfaceLayer/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/UserInterfaceLayer/obj/Debug/DesignTimeResolveAssemblyReferences.cache
/UserInterfaceLayer/obj/Debug/.NETFramework,Version=v4.6.1.AssemblyAttributes.cs
#/BusinessLogicLayer/bin/Debug/Microsoft.Practices.Unity.dll
/BusinessLogicLayer/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/BusinessLogicLayer/obj/Debug/BusinessLogicLayer.csproj.FileListAbsolute.txt
/BusinessLogicLayer/obj/Debug/.NETFramework,Version=v4.6.1.AssemblyAttributes.cs
/BusinessLogicLayer/obj/Debug/BusinessLogicLayer.csproj.AssemblyReference.cache
#/DataAccessLayer/bin/Debug/EntityFramework.SqlServer.dll
#/DataAccessLayer/bin/Debug/EntityFramework.dll
/DataAccessLayer/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/DataAccessLayer/obj/Debug/DataAccessLayer.csproj.FileListAbsolute.txt
/DataAccessLayer/obj/Debug/.NETFramework,Version=v4.6.1.AssemblyAttributes.cs
/DataAccessLayer/obj/Debug/DataAccessLayer.csproj.AssemblyReference.cache
#/Server/bin/Debug/EntityFramework.SqlServer.dll
/Server/obj/Debug/Server.csproj.FileListAbsolute.txt
/Server/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/Server/obj/Debug/.NETFramework,Version=v4.6.1.AssemblyAttributes.cs
/Server/obj/Debug/Server.csproj.AssemblyReference.cache
/BusinessLogicLayer/bin/Debug/BusinessLogicLayer.pdb
/BusinessLogicLayer/bin/Debug/BusinessLogicLayer.dll
/BusinessLogicLayer/obj/Debug/BusinessLogicLayer.pdb
/BusinessLogicLayer/obj/Debug/BusinessLogicLayer.dll
/BusinessLogicLayer/obj/Debug/BusinessLogicLayer.csproj.CoreCompileInputs.cache
/DataAccessLayer/bin/Debug/Microsoft.Practices.Unity.dll
/DataAccessLayer/bin/Debug/DataAccessLayer.pdb
/DataAccessLayer/bin/Debug/DataAccessLayer.dll.config
/DataAccessLayer/bin/Debug/DataAccessLayer.dll
/DataAccessLayer/bin/Debug/BusinessLogicLayer.pdb
/DataAccessLayer/bin/Debug/BusinessLogicLayer.dll
/DataAccessLayer/obj/Debug/DataAccessLayer.pdb
/DataAccessLayer/obj/Debug/DataAccessLayer.dll
/DataAccessLayer/obj/Debug/DataAccessLayer.csproj.CoreCompileInputs.cache
/DataAccessLayer/obj/Debug/DataAccessLayer.csproj.CopyComplete
/Server/bin/Debug/Server.pdb
/Server/bin/Debug/Server.exe.config
/Server/bin/Debug/Server.exe
/Server/bin/Debug/Microsoft.Practices.Unity.dll
/Server/bin/Debug/EntityFramework.dll
/Server/bin/Debug/DataAccessLayer.pdb
/Server/bin/Debug/DataAccessLayer.dll.config
/Server/bin/Debug/DataAccessLayer.dll
/Server/bin/Debug/BusinessLogicLayer.pdb
/Server/bin/Debug/BusinessLogicLayer.dll
/Server/obj/Debug/Server.pdb
/Server/obj/Debug/Server.exe
/Server/obj/Debug/Server.csproj.SuggestedBindingRedirects.cache
/Server/obj/Debug/Server.csproj.CoreCompileInputs.cache
/Server/obj/Debug/Server.csproj.CopyComplete
/UserInterfaceLayer/bin/Debug/UserInterfaceLayer.pdb
/UserInterfaceLayer/bin/Debug/UserInterfaceLayer.exe.config
/UserInterfaceLayer/bin/Debug/UserInterfaceLayer.exe
/UserInterfaceLayer/bin/Debug/Microsoft.Practices.Unity.dll
/UserInterfaceLayer/bin/Debug/BusinessLogicLayer.pdb
/UserInterfaceLayer/bin/Debug/BusinessLogicLayer.dll
/UserInterfaceLayer/obj/Debug/UserInterfaceLayer.Properties.Resources.resources
/UserInterfaceLayer/obj/Debug/UserInterfaceLayer.pdb
/UserInterfaceLayer/obj/Debug/UserInterfaceLayer.Forms.Views.DetailsEditor.resources
/UserInterfaceLayer/obj/Debug/UserInterfaceLayer.exe
/UserInterfaceLayer/obj/Debug/UserInterfaceLayer.csproj.SuggestedBindingRedirects.cache
/UserInterfaceLayer/obj/Debug/UserInterfaceLayer.csproj.GenerateResource.cache
/UserInterfaceLayer/obj/Debug/UserInterfaceLayer.csproj.CoreCompileInputs.cache
/UserInterfaceLayer/obj/Debug/UserInterfaceLayer.csproj.CopyComplete
/BusinessLogicLayer/bin/Debug/Newtonsoft.Json.xml
/BusinessLogicLayer/bin/Debug/Newtonsoft.Json.dll
/BusinessLogicLayer/obj/Debug/BusinessLogicLayer.csproj.CopyComplete
/DataAccessLayer/bin/Debug/Newtonsoft.Json.xml
/DataAccessLayer/bin/Debug/Newtonsoft.Json.dll
/Server/bin/Debug/Newtonsoft.Json.xml
/Server/bin/Debug/Newtonsoft.Json.dll
/UserInterfaceLayer/bin/Debug/Newtonsoft.Json.xml
/UserInterfaceLayer/bin/Debug/Newtonsoft.Json.dll
/.vs/Ascon/v17/.suo
/UserInterfaceLayer/.vs/Ascon/v17/.futdcache.v1
/.vs/Ascon/project-colors.json
/RestService/obj/staticwebassets.pack.sentinel
/RestService/obj/RestService.csproj.nuget.g.targets
/RestService/obj/RestService.csproj.nuget.g.props
/RestService/obj/RestService.csproj.nuget.dgspec.json
/RestService/obj/project.assets.json
/RestService/obj/Debug/net6.0/RestService.GlobalUsings.g.cs
/RestService/obj/Debug/net6.0/RestService.csproj.FileListAbsolute.txt
/RestService/obj/Debug/net6.0/RestService.assets.cache
/RestService/obj/Debug/net6.0/apphost.exe
/RestService/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
/RestService/bin/Debug/net6.0/RestService.runtimeconfig.json
/RestService/bin/Debug/net6.0/RestService.pdb
/RestService/bin/Debug/net6.0/RestService.exe
/RestService/bin/Debug/net6.0/RestService.dll
/RestService/bin/Debug/net6.0/RestService.deps.json
/RestService/bin/Debug/net6.0/ref/RestService.dll
/RestService/bin/Debug/net6.0/appsettings.json
/RestService/bin/Debug/net6.0/appsettings.Development.json
/RestService/obj/Debug/net6.0/staticwebassets.build.json
/RestService/obj/Debug/net6.0/RestService.pdb
/RestService/obj/Debug/net6.0/RestService.MvcApplicationPartsAssemblyInfo.cache
/RestService/obj/Debug/net6.0/RestService.genruntimeconfig.cache
/RestService/obj/Debug/net6.0/RestService.GeneratedMSBuildEditorConfig.editorconfig
/RestService/obj/Debug/net6.0/RestService.dll
/RestService/obj/Debug/net6.0/RestService.csproj.CoreCompileInputs.cache
/RestService/obj/Debug/net6.0/RestService.AssemblyInfoInputs.cache
/RestService/obj/Debug/net6.0/RestService.AssemblyInfo.cs
/RestService/obj/Debug/net6.0/ref/RestService.dll
/.vs/Ascon/config/applicationhost.config
/.vs/Ascon/DesignTimeBuild/.dtbcache.v2
/.vs/Ascon/v17/.futdcache.v1
/RestService/obj/Container/VolumeMappings.cache
/RestService/obj/Container/TargetFramework.cache
/RestService/obj/Container/OperatingSystemName.cache
/RestService/obj/Container/ImageId.cache
/RestService/obj/Container/ImageBuildContext.cache
/RestService/obj/Container/FastModeProjectMountDirectory.cache
/RestService/obj/Container/DebuggeeWorkingDirectory.cache
/RestService/obj/Container/DebuggeeProgram.cache
/RestService/obj/Container/DebuggeeKillProcessCommand.cache
/RestService/obj/Container/DebuggeeArguments.cache
/RestService/obj/Container/ContainerRunContext.cache
/RestService/obj/Container/ContainerOperatingSystemFlavor.cache
/RestService/obj/Container/ContainerName.cache
/RestService/obj/Container/ContainerId.cache
/RestService/obj/Container/ContainerDevelopmentMode.cache
/RestService/obj/Container/ContainerCreationResult.cache
/RestService/obj/Container/AdditionalProbingPaths.cache
/RestService/obj/Container/AbsoluteOutputAssemblyPath.cache
/RestService/obj/Debug/net6.0/RestService.csproj.AssemblyReference.cache
/DataAccessLayerCore/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/DataAccessLayerCore/obj/Debug/DataAccessLayerCore.csproj.FileListAbsolute.txt
/DataAccessLayerCore/obj/Debug/.NETFramework,Version=v4.6.1.AssemblyAttributes.cs
/DataAccessLayerCore/obj/Debug/net6.0/DataAccessLayerCore.GlobalUsings.g.cs
/DataAccessLayerCore/obj/Debug/net6.0/DataAccessLayerCore.GeneratedMSBuildEditorConfig.editorconfig
/DataAccessLayerCore/obj/Debug/net6.0/DataAccessLayerCore.AssemblyInfoInputs.cache
/DataAccessLayerCore/obj/Debug/net6.0/DataAccessLayerCore.AssemblyInfo.cs
/DataAccessLayerCore/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
/DataAccessLayerCore/obj/project.nuget.cache
/DataAccessLayerCore/obj/project.assets.json
/DataAccessLayerCore/obj/Debug/net6.0/DataAccessLayerCore.csproj.AssemblyReference.cache
/DataAccessLayerCore/obj/Debug/net6.0/DataAccessLayerCore.assets.cache
/DataAccessLayerCore/obj/DataAccessLayerCore.csproj.nuget.g.targets
/DataAccessLayerCore/obj/DataAccessLayerCore.csproj.nuget.g.props
/DataAccessLayerCore/obj/DataAccessLayerCore.csproj.nuget.dgspec.json
/DataAccessLayerCore/obj/Debug/net6.0/DataAccessLayerCore.csproj.FileListAbsolute.txt
/RestService/obj/project.nuget.cache
/DataAccessLayerCore/bin/Debug/net6.0/ref/DataAccessLayerCore.dll
/DataAccessLayerCore/bin/Debug/net6.0/Newtonsoft.Json.xml
/DataAccessLayerCore/bin/Debug/net6.0/Newtonsoft.Json.dll
/DataAccessLayerCore/bin/Debug/net6.0/Microsoft.Practices.Unity.dll
/DataAccessLayerCore/bin/Debug/net6.0/DataAccessLayerCore.pdb
/DataAccessLayerCore/bin/Debug/net6.0/DataAccessLayerCore.dll
/DataAccessLayerCore/bin/Debug/net6.0/DataAccessLayerCore.deps.json
/DataAccessLayerCore/bin/Debug/net6.0/BusinessLogicLayer.pdb
/DataAccessLayerCore/bin/Debug/net6.0/BusinessLogicLayer.dll
/DataAccessLayerCore/obj/Debug/net6.0/ref/DataAccessLayerCore.dll
/DataAccessLayerCore/obj/Debug/net6.0/DataAccessLayerCore.pdb
/DataAccessLayerCore/obj/Debug/net6.0/DataAccessLayerCore.dll
/DataAccessLayerCore/obj/Debug/net6.0/DataAccessLayerCore.csproj.CoreCompileInputs.cache
/DataAccessLayerCore/obj/Debug/net6.0/DataAccessLayerCore.csproj.CopyComplete
/RestService/bin/Debug/net6.0/runtimes/unix/lib/netcoreapp3.0/System.Drawing.Common.dll
/RestService/bin/Debug/net6.0/runtimes/unix/lib/netcoreapp3.1/Microsoft.Data.SqlClient.dll
/RestService/bin/Debug/net6.0/runtimes/win/lib/netcoreapp3.0/System.Windows.Extensions.dll
/RestService/bin/Debug/net6.0/runtimes/win/lib/netcoreapp3.0/System.Drawing.Common.dll
/RestService/bin/Debug/net6.0/runtimes/win/lib/netcoreapp3.0/Microsoft.Win32.SystemEvents.dll
/RestService/bin/Debug/net6.0/runtimes/win/lib/netcoreapp3.1/Microsoft.Data.SqlClient.dll
/RestService/bin/Debug/net6.0/runtimes/win/lib/netstandard2.0/System.Security.Cryptography.ProtectedData.dll
/RestService/bin/Debug/net6.0/runtimes/win/lib/netstandard2.0/System.Runtime.Caching.dll
/RestService/bin/Debug/net6.0/runtimes/win-arm/native/Microsoft.Data.SqlClient.SNI.dll
/RestService/bin/Debug/net6.0/runtimes/win-arm64/native/Microsoft.Data.SqlClient.SNI.dll
/RestService/bin/Debug/net6.0/runtimes/win-x64/native/Microsoft.Data.SqlClient.SNI.dll
/RestService/bin/Debug/net6.0/System.Windows.Extensions.dll
/RestService/bin/Debug/net6.0/System.Security.Permissions.dll
/RestService/bin/Debug/net6.0/System.Security.Cryptography.ProtectedData.dll
/RestService/bin/Debug/net6.0/System.Runtime.Caching.dll
/RestService/bin/Debug/net6.0/System.IdentityModel.Tokens.Jwt.dll
/RestService/bin/Debug/net6.0/System.Drawing.Common.dll
/RestService/bin/Debug/net6.0/System.Configuration.ConfigurationManager.dll
/RestService/bin/Debug/net6.0/runtimes/win-x86/native/Microsoft.Data.SqlClient.SNI.dll
/RestService/bin/Debug/net6.0/Newtonsoft.Json.dll
/RestService/bin/Debug/net6.0/Microsoft.Win32.SystemEvents.dll
/RestService/bin/Debug/net6.0/Microsoft.Practices.Unity.dll
/RestService/bin/Debug/net6.0/Microsoft.IdentityModel.Tokens.dll
/RestService/bin/Debug/net6.0/Microsoft.IdentityModel.Protocols.OpenIdConnect.dll
/RestService/bin/Debug/net6.0/Microsoft.IdentityModel.Protocols.dll
/RestService/bin/Debug/net6.0/Microsoft.IdentityModel.Logging.dll
/RestService/bin/Debug/net6.0/Microsoft.IdentityModel.JsonWebTokens.dll
/RestService/bin/Debug/net6.0/Microsoft.Identity.Client.dll
/RestService/bin/Debug/net6.0/Microsoft.EntityFrameworkCore.SqlServer.dll
/RestService/bin/Debug/net6.0/Microsoft.EntityFrameworkCore.Relational.dll
/RestService/bin/Debug/net6.0/Microsoft.EntityFrameworkCore.dll
/RestService/bin/Debug/net6.0/Microsoft.EntityFrameworkCore.Abstractions.dll
/RestService/bin/Debug/net6.0/Microsoft.Data.SqlClient.dll
/RestService/bin/Debug/net6.0/DataAccessLayerCore.pdb
/RestService/bin/Debug/net6.0/DataAccessLayerCore.dll
/RestService/bin/Debug/net6.0/BusinessLogicLayer.pdb
/RestService/bin/Debug/net6.0/BusinessLogicLayer.dll
/RestService/obj/Debug/net6.0/RestService.csproj.CopyComplete
/BusinessLogicLayer/bin/Debug/Microsoft.IdentityModel.Tokens.xml
/BusinessLogicLayer/bin/Debug/Microsoft.IdentityModel.Tokens.dll
/BusinessLogicLayer/bin/Debug/Microsoft.IdentityModel.Logging.xml
/BusinessLogicLayer/bin/Debug/Microsoft.IdentityModel.Logging.dll
/DataAccessLayer/bin/Debug/Microsoft.IdentityModel.Tokens.xml
/DataAccessLayer/bin/Debug/Microsoft.IdentityModel.Tokens.dll
/DataAccessLayer/bin/Debug/Microsoft.IdentityModel.Logging.xml
/DataAccessLayer/bin/Debug/Microsoft.IdentityModel.Logging.dll
/DataAccessLayerCore/bin/Debug/net6.0/Microsoft.IdentityModel.Tokens.xml
/DataAccessLayerCore/bin/Debug/net6.0/Microsoft.IdentityModel.Tokens.dll
/DataAccessLayerCore/bin/Debug/net6.0/Microsoft.IdentityModel.Logging.xml
/DataAccessLayerCore/bin/Debug/net6.0/Microsoft.IdentityModel.Logging.dll
/RestService/bin/Debug/net6.0/Microsoft.AspNetCore.Authentication.JwtBearer.dll
/Server/bin/Debug/Microsoft.IdentityModel.Tokens.xml
/Server/bin/Debug/Microsoft.IdentityModel.Tokens.dll
/Server/bin/Debug/Microsoft.IdentityModel.Logging.xml
/Server/bin/Debug/Microsoft.IdentityModel.Logging.dll
/UserInterfaceLayer/bin/Debug/Microsoft.IdentityModel.Tokens.xml
/UserInterfaceLayer/bin/Debug/Microsoft.IdentityModel.Tokens.dll
/UserInterfaceLayer/bin/Debug/Microsoft.IdentityModel.Logging.xml
/UserInterfaceLayer/bin/Debug/Microsoft.IdentityModel.Logging.dll
/BusinessLogicLayer/bin/Debug/CryptoPro.Sharpei.CorLib.dll
/BusinessLogicLayer/bin/Debug/CryptoPro.Sharpei.Base.dll
/DataAccessLayer/bin/Debug/CryptoPro.Sharpei.CorLib.dll
/DataAccessLayer/bin/Debug/CryptoPro.Sharpei.Base.dll
/DataAccessLayerCore/bin/Debug/net6.0/CryptoPro.Sharpei.CorLib.dll
/DataAccessLayerCore/bin/Debug/net6.0/CryptoPro.Sharpei.Base.dll
/RestService/bin/Debug/net6.0/CryptoPro.Sharpei.CorLib.dll
/RestService/bin/Debug/net6.0/CryptoPro.Sharpei.Base.dll
/Server/bin/Debug/CryptoPro.Sharpei.CorLib.dll
/Server/bin/Debug/CryptoPro.Sharpei.Base.dll
/UserInterfaceLayer/bin/Debug/CryptoPro.Sharpei.CorLib.dll
/UserInterfaceLayer/bin/Debug/CryptoPro.Sharpei.Base.dll
/RestService/bin/Debug/net6.0/Swashbuckle.AspNetCore.SwaggerUI.dll
/RestService/bin/Debug/net6.0/Swashbuckle.AspNetCore.SwaggerGen.dll
/RestService/bin/Debug/net6.0/Swashbuckle.AspNetCore.Swagger.dll
/RestService/bin/Debug/net6.0/RestService.xml
/RestService/bin/Debug/net6.0/Microsoft.OpenApi.dll
/RestService/obj/Debug/net6.0/RestService.xml
/RestService/obj/Debug/net6.0/RestService.MvcApplicationPartsAssemblyInfo.cs
/UserInterfaceLayer/bin/Debug/Server.pdb
/UserInterfaceLayer/bin/Debug/Server.exe.config
/UserInterfaceLayer/bin/Debug/Server.exe
/UserInterfaceLayer/bin/Debug/EntityFramework.dll
/UserInterfaceLayer/bin/Debug/DataAccessLayer.pdb
/UserInterfaceLayer/bin/Debug/DataAccessLayer.dll.config
/UserInterfaceLayer/bin/Debug/DataAccessLayer.dll
/WCFService/bin/Debug/Server.pdb
/WCFService/bin/Debug/Server.exe.config
/WCFService/bin/Debug/Server.exe
/WCFService/bin/Debug/Newtonsoft.Json.xml
/WCFService/bin/Debug/Newtonsoft.Json.dll
/WCFService/bin/Debug/Microsoft.Practices.Unity.dll
/WCFService/bin/Debug/DataAccessLayer.pdb
/WCFService/bin/Debug/DataAccessLayer.dll.config
/WCFService/bin/Debug/DataAccessLayer.dll
/WCFService/bin/Debug/CryptoPro.Sharpei.CorLib.dll
/WCFService/bin/Debug/CryptoPro.Sharpei.Base.dll
/WCFService/bin/Debug/BusinessLogicLayer.pdb
/WCFService/bin/Debug/BusinessLogicLayer.dll
/WCFService/obj/Debug/WCFService.csproj.CoreCompileInputs.cache
/WCFService/obj/Debug/WCFService.csproj.CopyComplete
/WCFService/obj/Debug/WCFService.csproj.AssemblyReference.cache
/WCFService/obj/Debug/Server.pdb
/WCFService/obj/Debug/Server.exe
/WCFService/obj/Debug/WCFService.csproj.SuggestedBindingRedirects.cache
/WCFService/bin/Debug/EntityFramework.dll
/WCFService/obj/Debug/.NETFramework,Version=v4.6.1.AssemblyAttributes.cs
/WCFService/obj/Debug/WCFService.csproj.FileListAbsolute.txt
/RestService/RestService.csproj.user
/BusinessLogicLayer/obj/Debug/build.force
/WCFService/obj/Debug/build.force
/WCFService/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/BusinessLogicLayer/bin/Debug/Unity.Container.pdb
/BusinessLogicLayer/bin/Debug/Unity.Container.dll
/BusinessLogicLayer/bin/Debug/Unity.Abstractions.pdb
/BusinessLogicLayer/bin/Debug/Unity.Abstractions.dll
/BusinessLogicLayer/bin/Debug/System.Runtime.CompilerServices.Unsafe.xml
/BusinessLogicLayer/bin/Debug/System.Runtime.CompilerServices.Unsafe.dll
/DataAccessLayer/bin/Debug/Unity.Container.pdb
/DataAccessLayer/bin/Debug/Unity.Container.dll
/DataAccessLayer/bin/Debug/Unity.Abstractions.pdb
/DataAccessLayer/bin/Debug/Unity.Abstractions.dll
/DataAccessLayer/bin/Debug/System.Runtime.CompilerServices.Unsafe.xml
/DataAccessLayer/bin/Debug/System.Runtime.CompilerServices.Unsafe.dll
/DataAccessLayerCore/bin/Debug/net6.0/Unity.Container.pdb
/DataAccessLayerCore/bin/Debug/net6.0/Unity.Container.dll
/DataAccessLayerCore/bin/Debug/net6.0/Unity.Abstractions.pdb
/DataAccessLayerCore/bin/Debug/net6.0/Unity.Abstractions.dll
/RestService/bin/Debug/net6.0/Unity.Container.pdb
/RestService/bin/Debug/net6.0/Unity.Container.dll
/RestService/bin/Debug/net6.0/Unity.Abstractions.pdb
/RestService/bin/Debug/net6.0/Unity.Abstractions.dll
/UserInterfaceLayer/bin/Debug/Unity.Container.pdb
/UserInterfaceLayer/bin/Debug/Unity.Container.dll
/UserInterfaceLayer/bin/Debug/Unity.Abstractions.pdb
/UserInterfaceLayer/bin/Debug/Unity.Abstractions.dll
/UserInterfaceLayer/bin/Debug/System.Runtime.CompilerServices.Unsafe.xml
/UserInterfaceLayer/bin/Debug/System.Runtime.CompilerServices.Unsafe.dll
/WCFService/bin/Debug/Unity.Container.pdb
/WCFService/bin/Debug/Unity.Container.dll
/WCFService/bin/Debug/Unity.Abstractions.pdb
/WCFService/bin/Debug/Unity.Abstractions.dll
/WCFService/bin/Debug/System.Runtime.CompilerServices.Unsafe.xml
/WCFService/bin/Debug/System.Runtime.CompilerServices.Unsafe.dll
/UserInterfaceLayer/UserInterfaceLayer.csproj.user
/WcfService/obj/Debug/Server.csproj.SuggestedBindingRedirects.cache
/WcfService/obj/Debug/Server.csproj.CoreCompileInputs.cache
/WcfService/obj/Debug/Server.csproj.CopyComplete
/WcfService/obj/Debug/Server.csproj.AssemblyReference.cache
/BusinessLogicLayer/.vs/slnx.sqlite
/BusinessLogicLayer/.vs/ProjectSettings.json
/BusinessLogicLayer/.vs/BusinessLogicLayer/v17/.suo
/BusinessLogicLayer/obj/Release/BusinessLogicLayer.csproj.AssemblyReference.cache
/BusinessLogicLayer/obj/Release/.NETFramework,Version=v4.6.1.AssemblyAttributes.cs
/.vs/Ascon/v17/HierarchyCache.v1.txt
/DataAccessLayerCore/obj/Debug/net6.0/refint/DataAccessLayerCore.dll
/RestService/obj/Debug/net6.0/refint/RestService.dll
